.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.green {
  background-color: green;
  color: white;
}

mat-chip-option.red {
  background-color: red;
  color: white;
}

mat-chip-option.default {
  background-color: rgb(200, 200, 200);
  color: black;
}